.display-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 10px;
  background-color: var(--third-color);
}

.logo-header {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.btn-nav-bar{
  border: none;
  background-color: #88e23b;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px #88e23b;
  cursor: pointer;
  box-shadow: 0px 0px 20px  black;
  transition: all 1s ease-in-out;
}

.btn-nav-bar:hover{
  box-shadow: 0px 0px 30px  #88e23b;
  transform: scale(1.1);
}

.dark {
  color: #a6cccc;
  background-color: black;
}

.light {
  color: black;
  background-color: #a6cccc;
}

.greenlazer {
  background-color: #88e23b;
}

.mystery-blue{
  background-color: #a6cccc;
}