.display-home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.display-home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title-home-header {
  font-size: 40px;
  text-shadow: 0px 0px 10px #88e23b;
}

.title-home-header:hover {
  text-shadow: 0px 0px 50px #88e23b;
  text-transform: uppercase;
}

.input-home{
  border: none;
  border-radius: 5px;
  width: 90%;
  height: 5vh;
}

.input-home:focus{
  color: white;
}

.display-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dark {
  color: #a6cccc;
  background-color: black;
}

.light {
  color: black;
  background-color: #a6cccc;
}
